
/* Style for the images on the hobbies page */
.row {
    display: flex;
  }
  
  .column {
    flex: 10%;
    padding: 5px;
  }
  
  /* Styles for the images on the more about me page */
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* two equal columns that sits next to each other */
  .column {
    flex: 10%;
    padding: 2px;
  }
  
  .column img {
    margin-top: 4px;
    vertical-align: middle;
  }
  
/* designing of other webpages starts here*/
body 
{
    background-color:#000000;
}

img 
{
    max-width: 100%;
}

/* Adopting the mobile-first strategy */
/* styles for the Mobile Layout */

/* styles for banner and header */
#bannerdiv
{
    display: none;
}

#headercontainer 
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header 
{
    margin-top: 0.2em;
    border-radius: 0.5em;
    text-align: center;
}

.banner
{
    display: none;
}

/* styles for nav bar */
nav 
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center; 
}

/* styles specifies the padding and margins of the unordered list in nav */
nav ul 
{
    padding: 0;
    text-decoration: none;
}
  
/* styles for the li in nav */
nav li 
{
    background-color: #ffd9dd;
    border-radius: 0.2em;
    margin: 0.22em;
    padding: 0.5em;
    border-color: black;
}

nav li a
{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

nav li:hover
{
    background-color: #f94c60;
}

/* styles for paragraphs */
p
{
    margin-top: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e6e6e6;
    font-size: 0.8em;
    text-align: justify;
}

/* styles for work experience text and logos */
#jobs
{
    margin-top: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e6e6e6;
    font-size: 0.8em;
    text-align: justify;
}

.joblogos
{
    padding-top: 1em;
    padding-bottom: 1em;
}

dt
{
    padding: 1.2em;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

dd
{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.3em;
}

/* styles for headers */
h2, h4
{
    color: #e6e6e6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* styles for asides */
aside
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: none;
}

aside li
{
    display: none;
}

.share
{
    margin-top: 2em;
}

.banner
{
    display: none;
}

.related
{
    width: 50%;
}

footer
{
    background-color:#f0f0f0;
    margin-top: -0.2em;
    padding: 0.2em;
    position: fixed;
    font-size: 0.7em;
    bottom: 0;
}

.moreprojects
{
    padding-bottom: 3em;
}

.mySlides
{
    display: none;
    text-align: center;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

.mySlides2
{
    display: none;
    text-align: center;
}

.video
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 24em;
    height: 18em;
}

.text
{
    display: none;
}

/* styles for pointers */
.gamingprev {
cursor: pointer;
width: auto;
margin-top: -1.375em;
padding: 1em;
font-weight: bold;
font-size: 1em;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
color:white;
}

.gamingnext
{
    cursor: pointer;
    width: auto;
    margin-top: -1.375em;
    margin-left: 0em;
    padding: 1em;
    font-weight: bold;
    font-size: 1em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color:white;
}

.designprev {
    cursor: pointer;
    width: auto;
    margin-top: -1.375em;
    padding: 1em;
    font-weight: bold;
    font-size: 1em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color:white;
    }

.designnext
{
    cursor: pointer;
    width: auto;
    margin-top: -1.375em;
    margin-left: 0em;
    padding: 1em;
    font-weight: bold;
    font-size: 1em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color:white;
}

.desktop
{
    display: none;
}

.mobile
{
    display: inline;
}

.contactarticle
{
    border-radius: 0.6em;
    padding-left: 0.3em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.projectsarticle
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* styles for tables */
table {
    border: 1px solid #e6e6e6;
    padding: 0.5em;
    color: aliceblue;
  }

  td
  {
    border: 1px solid #e6e6e6;
    padding: 0.2em;

  }

  th
  {
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 0.2em;
  }
  
  .video
    {
        display: none;
    }

  /* Styling for tablet viewport begins here */
@media only screen and (min-width: 688px)
{
    aside
    {
        display: none;
    }

    .banner
    {
        width: 80%;
        text-align: center;
    }

    #headercontainer 
    {
        padding-bottom: 2em;
    }

    header
    {
        padding-bottom: 1em;
    }

    nav
    {
        /* float: right; */
        margin-top: -1em;
        /* margin-left: -8em; */
        padding-bottom: 2em;
    }

    nav ul
    {
        margin-top: 0em;
        /* margin-right: 3em;
        margin-left: -1em; */
        margin-left: auto;
        margin-right: auto;
    }

    nav li
    {
        display: inline;
        /* padding-bottom: 2em; */
        padding-left: 1em;
        padding-right: 1em;
        margin-left: -0.2em;
        background: transparent;
        color: #e6e6e6;
    }

    nav li a
    {
        color: #e6e6e6;
    }

    nav li a:hover
    {
       background-color: #f94c60;
    }
    
    .related
    {
      width: 15%;
    }

    .mySlides
    {
        display: none;
        text-align: center;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .gamingprev {
        cursor: pointer;
        width: auto;
        margin-top: -1.375em;
        margin-left: 8em;
        padding: 1em;
        font-weight: bold;
        font-size: 1.125em;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        color:white;
        }
    

    .gamingnext
    {
        cursor: pointer;
        width: auto;
        margin-top: 6em;
        margin-left: 20em;
        padding: 1em;
        font-weight: bold;
        font-size: 1.12em;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        color:white;
    }
    
    .designprev {
        cursor: pointer;
        width: auto;
        margin-top: -1.375em;
        margin-left: 8em;
        padding: 1em;
        font-weight: bold;
        font-size: 1.125em;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        color:white;
        }
    
    .designnext
    {
        cursor: pointer;
        width: auto;
        margin-top: 6em;
        margin-left: 20em;
        padding: 1em;
        font-weight: bold;
        font-size: 1.12em;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        color:white;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    dt
    {
        padding: 1.2em;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
    }

    dd
    {
        font-size: 1em;
    }

    .contactarticle
    {
        margin-top:0em;
        border-radius: 0.6em;
        padding-left: 0.3em;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .video {
        margin-left: auto;
        margin-right: auto;
        width: 40em;
        height: 30em;
        display: block;
    }

    .projectsarticle
    {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    
    table
    {
        width:90%;
    }
}

/* Styling for desktop viewport begins here */
@media only screen and (min-width: 999px) 
  {
    header 
    {
        margin-top: 0.2em;
        border-radius: 0.5em;
        text-align: left;
        margin-left: 3.5em;
    }

    nav
    {
        float: right;
        margin-top: -4.7em;
        /* margin-left: -8em; */
    }

    nav ul
    {
        margin-top: 0.12em;
        margin-right: 2em;
    }

    nav li
    {
        display: inline;
        padding: 0.5em;
        padding-left: 1.2em;
        padding-right: 1.2em;
        margin-left: -0.7em;
        background: transparent;
    }

    .banner
    {
        text-align: center;
        margin-left: 6em;
        width: 60%;
    }

    .related
    {
      width: 50%;
    }

    /* styles for footer */
    footer
    {
        background-color:#f0f0f0;
        margin-top: -0.2em;
        padding: 0.5em;
        position: fixed;
        font-size: 0.8em;
        bottom: 0;
    }
    
    article
    {
        font-size: 1.5em;
        margin-left: 3.5em;
        margin-right: 3.2em;
        text-align: justify;
    }

    /* Styling for aside */
    aside
    {
        display: block;
        font-size: 0.6em;
        color: white;
        margin-top: -118em;
        text-decoration: none;
    }

    .projectsaside
    {
        font-size: 0.6em;
        color: white;
        margin-top: -210em;
        text-decoration: none;
    }
    
    .hobbiesaside
    {
        font-size: 0.6em;
        color: white;
        margin-top: -190em;
        text-decoration: none;
    }

    aside ul
    {
        font-size: 2em;
        float: left;
        padding-left: 2em;
        margin-left: 1em;
    }

    aside li
    {
        padding: 0.6em;
        display: block;
    }

    aside li a
    {
        text-decoration: none;
        color: white;
        border: #e6e6e6;
    }

    /* Styling for project components */
    .project
    {
        margin-right: 7.6em;
        text-align: justify;
    }

    .projectimg
    {
        display: block;
        margin-top: 6em;
    }

    .moreprojects
    {
        text-decoration: underline;
        font-style: italic;
        width: fit-content;
        padding-bottom: 1em;
    }

    .projectsarticle
    {
        margin-left: 10.5em;
        width: 80%;
    }

    /* styling for hobbies img carousels begins here */

    * {box-sizing:border-box}

    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin-top: 2em;
        margin-left: 18em;
    }

    .slideshow-container2 {
        max-width: 1000px;
        position: relative;
        margin-top: 2em;
        margin-left: 20em;
    }

    .mySlides {
        display: none;
        text-align: center;
      }

    .mySlides2 {
        display: none;
        text-align: center;
      }

    /* Next & previous buttons */
    .gamingprev, .gamingnext 
        {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -1.125em;
            margin-left: 0em;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

    .designprev, .designnext
        {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            margin-left: 0em;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;

        }
    /* Position the "next button" to the right */
    .gamingnext,.designnext {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    
     /* On hover, add a black background color with a little bit see-through */
    .gamingprev:hover, .gamingnext:hover, .designprev:hover, .designnext:hover {
    background-color: rgba(0,0,0,0.8);
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/5 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .video {
        margin-left: auto;
        margin-right: auto;
        width: 32em;
        height: 24em;
        display: block;
    }

    .active, .dot:hover {
    background-color: #717171;
    }

    /* Styles for Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    dt
    {
        padding: 1.2em;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
    }

    .contactarticle
    {
        margin-left: auto;
        margin: auto;
        width: 80%;
    }

    .mobile
    {
        display: none;
    }

    .desktop
    {
        display: inline;
    }
    
    table
    {
        width: 88%;
        padding: 1em;
    }

    th,td
    {
        padding: 0.5em;
    }
}
  
  