
/* Style for the images on the hobbies page */
.row {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 10%;
    flex: 80%;
    width: 80%;
    text-align: center;
    margin-top: -5em;
  }
  
  .column {
    text-align: center;
    flex: 50%;
    padding: 80px;
    width: 800%;
    
  }
  
  /* Styles for the images on the more about me page */
  .row1 {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 30px;
    flex: 30px;
    
  }

  
  /* two equal columns that sits next to each other */
  .column1 {
    text-align: center;
    flex: 50%;
    padding: 15px;
    width: 60%;
    line-height: 0.11em;
    font-weight: bold;
  }
  
  .column img {
    margin-top: 4px;
    vertical-align: middle;
  }
  
/* designing of other webpages starts here*/
body 
{
    background-color:#000000;
}

img 
{
    max-width: 100%;
}

/* styles for the Mobile Layout */

h2
{  
   
    color: rgb(94, 71, 185);
    margin-top: 5em;
    text-decoration: underline;
}

h3
{
    color: rgb(94, 71, 185);
    font-size: 24px;
}
#headerbanner
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header 
{
    margin-top: 0.2em;
    border-radius: 0.5em;
    text-align: center;
}

.banner
{
    display: none;
}

/* styles for nav bar */
nav 
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center; 
}

/* styles specifies the padding and margins of the unordered list in nav */
nav ul 
{
    padding: 0;
    text-decoration: none;
}
  
/* styles for the li in nav */
nav li 
{
    background-color: B69CFD;
    border-radius: 0.2em;
    margin: 0.22em;
    padding: 0.5em;
    border-color: rgb(247, 168, 247);
}

nav li a
{
    list-style-type: none;
    text-decoration: none;
    color: #B69CFD;
}

nav li:hover
{
    background-color: rgb(70, 52, 139);
}

/* styles for paragraphs */
p
{
    margin-top: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: justify;
}

dt
{
    padding: 1.2em;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

dd
{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.3em;
}

/* styles for headers */
h2
{
    color: #e6e6e6;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h4
{
    color: rgb(94, 71, 185);
    text-align : center;
}

/* styles for asides */
aside
{
    font-family: Georgia, "Times New Roman", Times, serif;
    display: none;
}

aside li
{
    display: none;
}

.share
{
    margin-top: 2em;
}

.banner
{
    display: none;
}

.links
{
    width: 20%;
}

footer
{
    background-color:#B69CFD;
    margin-top: -0.2em;
    padding: 0.2em;
    position: fixed;
    font-size: 0.7em;
    bottom: 0;
}




.desktop
{
    display: none;
}

.mobile
{
    display: inline;
}

.contactarticle
{
    border-radius: 0.6em;
    padding-left: 0.3em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.educationdetails
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* styles for tables */
table {
    border: 2px solid #e6e6e6;
    padding: 0.5em;
    color: rgb(255, 255, 255);
  }

  td
  {
    border: 1px solid #e6e6e6;
    padding: 0.2em;
  }

  th
  {
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 0.2em;
  }
  
  /* Styling for tablet viewport begins here */
@media only screen and (min-width: 688px)
{

    /* Styles for the images on the more about me page */
  .row1 {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 3px;
    flex: 30px;
  }

  
  /* two equal columns that sits next to each other */
  .column1 {
    text-align: center;
    flex: 50%;
    padding: 20px;
    width: 40%;
    line-height: 0.11em;
    font-weight: bold;
  }

    /* Style for the images on the hobbies page */
.row {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 10%;
    flex: 80%;
    width: 80%;
    text-align: center;
    margin-top: -5em;
  }
  
  .column {
    text-align: center;
    flex: 50%;
    padding: 80px;
    width: 800%;
    margin-top: -10em;
  }

.project
{
    margin-top: -10em;
    margin-right: 1.6em;
    text-align: justify;
    color: white;
    padding: 10em;
    font-size: 20px;
}
    aside
    {
        display: none;
    }
    .banner
    {
        width: 20%;
        text-align: left;
    }

    #headerbanner 
    {
        padding-bottom: 2em;
    }

    header
    {
        padding-bottom: 1em;
    }

    nav
    {
       width: 100%;
        margin-top: 1em;
        line-height: 2.5em;
        padding: 0em;
    }

    nav ul
    {
        margin-top: 0em;
        padding: -1em;
        margin-left: auto;
        margin-right: auto;
    }

    nav li
    {
        display: -webkit-inline-flex;
        padding-left: -1em;
        padding-right: -1em;
        margin-left: -0.3em;
        background: transparent;
        color: #e6e6e6;
    }

    nav li a
    {
        color: #e6e6e6;
    }

    nav li a:hover
    {
       background-color: rgb(37, 0, 139);
    }
    
    .links
    {
      width: 15%;
    }

    dt
    {
        padding: 1.2em;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
    }

    dd
    {
        font-size: 1em;
    }

    .contactarticle
    {
        margin-top:0em;
        border-radius: 0.6em;
        padding-left: 0.3em;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    table
    {
        width:90%;
    }

    h4 
    {
        text-align: center;
        font-size: 25px;
        
    }

  
}

/* Styling for desktop viewport begins here */

@media only screen and (min-width: 999px) 
  {

    /* Styles for the images on the more about me page */
  .row1 {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 3px;
    flex: 30px;
  }

  
  /* two equal columns that sits next to each other */
  .column1 {
    text-align: center;
    flex: 50%;
    padding: 20px;
    width: 40%;
    line-height: 0.11em;
    font-weight: bold;
  }

    /* Style for the images on the hobbies page */
.row {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 10%;
    flex: 80%;
    width: 80%;
    text-align: center;
    margin-top: -5em;
  }
  
  .column {
    text-align: center;
    flex: 50%;
    padding: 80px;
    width: 800%;
    margin-top: -10em;
  }
      .project
      {   
        margin-right: 7.6em;
        text-align: justify;
          text-align: center;
          margin-left: 6em;
          padding: 10em;
      }
    header 
    {
        margin-top: 0.2em;
        border-radius: 0.5em;
        text-align: left;
        margin-left: 3.5em;
    }

    table
    {
        width: 90%;
        float: right;

    }

    h6{
        color: white;
    }
    p{
        font-size: 19px;
    }
    nav
    {
        float: right;
        margin-top: -4.7em;
        margin-right: -10em;
    }

    nav ul
    {
        margin-top: 0.12em;
        margin-right: 2em;
    }

    nav li
    {
        display: inline;
        padding: 0.5em;
        padding-left: 1.2em;
        padding-right: 1.2em;
        margin-left: -0.7em;
        background: transparent;
    }

    .banner
    {
        text-align: center;
        margin-left: 6em;
        width: 60%;
    }

    .related
    {
      width: 50%;
    }

    /* styles for footer */
    footer
    {
        background-color:#B69CFD;
        margin-top: -0.2em;
        padding: 0.5em;
        position: fixed;
        font-size: 0.8em;
        bottom: 0;
    }
    
    article
    {
        font-size: 1.5em;
        margin-left: 3.5em;
        margin-right: 3.2em;
        text-align: justify;
    }

    /* Styling for aside */
    aside
    {
        display: block;
        font-size: 0.6em;
        color: white;
        margin-top: -262em;
        margin-left: -0.5em;
        text-decoration: none;
    }

    .projectsaside
    {
        font-size: 0.4em;
        color: white;
        margin-top: -953em;
        text-decoration: none;
    }

    
    .hobbiesaside
    {
        font-size: 0.3em;
        color: white;
        margin-top: -3168em;
        text-decoration: none;
    }

    aside ul
    {
        font-size: 1.2em;
        float: left;
        padding-left: 1em;
        margin-left: 1em;
    }

    aside li
    {
        padding: 0.4em;
        display: block;
        font-size: 2.2em;
    }

    aside li a
    {
        text-decoration: none;
        color: white;
        border: #e6e6e6;
    }

    /* Styling for project components */
    

    .projectimg
    {
        display: block;
        margin-top: 6em;
    }

    .educationdetails
    {
        margin-left: 10.5em;
        width: 80%;
    }



    dt
    {
        padding: 1.2em;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
    }

    .contactarticle
    {
        margin-left: auto;
        margin: auto;
        width: 80%;
    }

    .mobile
    {
        display: none;
    }

    .desktop
    {
        display: inline;
    }
    
    table
    {
        width: 90%;
        padding: 1em;
    }

    th,td
    {
        padding: 0.5em;
    }

    h1{
        color: rgb(94, 71, 185);
        font-size: 30px;
        text-align: center;
    }



}